<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <h2 style="text-align: center;">Edit <%= campground.name %></h2> 
        <div style="width: 30%; margin: auto;">
            <form action="/campground/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                <input class="form-control" type="text" value="<%= comment.text %>" name="comment[text]"><br>
                <button class="btn btn-lg btn-default w-100">Submit</button>
            </form>
        </div>
        <a href="/campground">Go Back</a>
    </div>
</div>
<%- include('../partials/footer') %>
