<%- include('partials/header') %>

<style>
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .lead {
        font-size: 1.5em;
        font-weight: bold;
    }

    .list-group-item.active {
        background-color: #337ab7;
        color: white;
    }

    .thumbnail {
        background-color: #f8f8f8;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 15px;
    }

    .img-responsive {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }

    .caption-full {
        padding-top: 15px;
    }

    .caption-full h4.pull-right {
        color: #555;
        font-size: 1.2em;
        margin-top: 0;
    }

    .caption-full h4 a {
        color: #337ab7;
        font-weight: bold;
    }

    .well {
        margin-top: 15px;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    .text-right .btn-success {
        margin-top: 10px;
    }

    .btn-warning, .btn-danger, .btn-success {
        border-radius: 4px;
    }

    .comment-author {
        font-weight: bold;
    }

    .row {
        margin-top: 10px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$10.00/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted BY <%= campground.author.username %></em>
                    </p>
                    <% if (currentUser && campground.author.id.toString() === currentUser._id.toString()) { %>
                        <a class="btn btn-warning" href="/campground/<%= campground._id %>/edit">Edit</a>
                        <form action="/campground/<%= campground._id %>?_method=DELETE" method="post" style="display:inline;">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campground/<%= campground._id %>/comments/new">Add new comment</a>
                </div>
                <% campground.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Display the comment's author username here -->
                            <p><strong><%= comment.author && comment.author.username %></strong> - <%= comment.text %></p>
                            <% if (currentUser && comment.author && comment.author.id && comment.author.id.toString() === currentUser._id.toString()) { %>
                                <a class="btn btn-xs btn-warning" href="/campground/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>